nav{
    background-color: black;
    color: blanchedalmond;
}

.menu li {
    width: 10%;
    list-style: none;  
}

.menu{
    display: flex;
    align-items: center;
}

.menu a{
    color: cornsilk;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.menu a:hover {
    background-color: cornsilk;
    border: 5px #fff;
    color: darkblue;
    border-radius: 5px;
}

.logo{
    flex-grow: 3;
}
.logo img{
    width: 5%;
    padding: 1% 2% 1% 5%;
}
